<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EverStarIOSCode.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B926086EEC08D8237E11B8092006291D7B13128B</string>
				<key>dateExpires</key>
				<string>2023/2/8</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B926086EEC08D8237E11B8092006291D7B13128B</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CCSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M5CZVT3SCF</string>
						<key>name</key>
						<string>Beijing Tongrentang Health Pharmaceutical Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B926086EEC08D8237E11B8092006291D7B13128B</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DWDrmServer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M5CZVT3SCF</string>
						<key>name</key>
						<string>Beijing Tongrentang Health Pharmaceutical Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B926086EEC08D8237E11B8092006291D7B13128B</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IJKMediaFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M5CZVT3SCF</string>
						<key>name</key>
						<string>Beijing Tongrentang Health Pharmaceutical Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B926086EEC08D8237E11B8092006291D7B13128B</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M5CZVT3SCF</string>
						<key>name</key>
						<string>Beijing Tongrentang Health Pharmaceutical Co., Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>M5CZVT3SCF.com.xinghengedu.EverStarCollection999</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:4f6v.ulml.mob.com</string>
				</array>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>M5CZVT3SCF</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>M5CZVT3SCF.com.xinghengedu.EverStar</string>
					<string>M5CZVT3SCF.com.xinghengedu.EverStarZhuLi</string>
					<string>M5CZVT3SCF.com.xinghengedu.EverStarKouQiangZhiYe</string>
					<string>M5CZVT3SCF.com.xinghengedu.EverStarKouQiangZhuLi</string>
					<string>M5CZVT3SCF.com.xinghengedu.EverStarZhongXiYiZhiYe</string>
					<string>M5CZVT3SCF.com.xinghengedu.EverStarZhongXiYiZhuLi</string>
					<string>M5CZVT3SCF.com.xinghengedu.EverStarZhongYiZhiYe</string>
					<string>M5CZVT3SCF.com.xinghengedu.EverStarZhongYiZhuLi</string>
					<string>M5CZVT3SCF.com.xinghengedu.EverStarHuLiXueHuShi</string>
					<string>M5CZVT3SCF.com.xinghengedu.EverStarZhiYeHuShi</string>
					<string>M5CZVT3SCF.com.xinghengedu.EverStarXiYaoShi</string>
					<string>M5CZVT3SCF.com.xinghengedu.EverStarZhongYaoShi</string>
					<string>M5CZVT3SCF.com.xinghengedu.EverStarKuaijiCongYe</string>
					<string>M5CZVT3SCF.com.xinghenggedu.EverStarJiJinCongYe</string>
					<string>M5CZVT3SCF.com.xinghengedu.EverStarSANJIRENLI</string>
					<string>M5CZVT3SCF.com.xinghengedu.EverStarERJIRENLIZIYUAN</string>
					<string>M5CZVT3SCF.com.xinghengedu.EverStarERJIRENLIZIYUAN</string>
				</array>
			</dict>
			<key>name</key>
			<string>星题库.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e6d3c5ab-9e81-4012-afa6-a101a4389cba</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.xinghengedu.EverStarCollection999</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>M5CZVT3SCF</string>
				<key>name</key>
				<string>Beijing Tongrentang Health Pharmaceutical Co., Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
